.btn {
  padding: 13px 30px;
  border-radius: 4px;
  transition: 700ms ease-in-out;
}

.brdr {
  border: 1px solid #20c33b;
  color: #20c33b;
}

.btn:hover {
  background: #16c734;
  color: whitesmoke;
}

.theatePlayDate {
  font-size: 80px;
  text-transform: uppercase;
  font-family: "Londrina Shadow", sans-serif;
  /* font-family: "Rubik Dirt", system-ui; */
  font-optical-sizing: auto;
  transition: 700ms ease-in-out;
  font-variation-settings: "wght" 700;
  margin-bottom: 0.8rem;
  color: rgba(26, 26, 26, 0.575);
  outline: none;
  text-align: center;
  text-shadow: 0 2px rgba(226, 231, 231, 0.924);
  text-anchor: middle;
  font-style: italic;
}

.theatePlayDate:hover {
  font-variation-settings: "wght" 800;
  color: #141414b8;
}

.movieTitle {
  font-family: "Rubik Dirt", system-ui;
  font-variation-settings: "wght" 800;
  text-transform: uppercase;
  /* color: rgba(2, 240, 141, 0.575); */
}

.trailerBtn {
  transition: 700ms ease-in-out;
}
.trailerBtn:hover{
  color: #20c33b;
}