.btn {
    padding: 13px 30px;
    border-radius: 4px;
}

.brdr {
    border: 1px solid yellowgreen;
}

h1 {
    font-size: 80px;
    text-transform: uppercase;
    /* font-family: "Foldit", cursive; */
    font-optical-sizing: auto;
    /* letter-spacing: -3px; */
    transition: 700ms ease-in-out;
    font-variation-settings: "wght" 700;
    margin-bottom: 0.8rem;
    color: rgba(0, 0, 0, 0.338);
    /* outline: none; */
    text-align: center;
    text-shadow: 0 7px rgba(245, 247, 247, 0.924);
    text-anchor: middle;
    font-style: italic;
}

h1:hover {
    font-variation-settings: "wght" 900;
    color: #ffffff91;
}