.loader {
  width: 30px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #010101);
  background:
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
    background-color: #03030300;
  background-size: 8px 8px;
  animation: l7 1s infinite;
}

@keyframes l7 {
  to {
    transform: rotate(.8turn)
  }
}