.navbarContainter {
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
}

@keyframes bg {
    from {
        transform: translateX(100%);

    }

    to {
        transform: translateX(0%);
    }
}

@keyframes bgOff {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.positionedBg {
    animation: bg .5s ease-in-out;
    background: #000;
}

.positionedBgTranspa {
    animation: bgOff .5s ease-in-out;
    background: #00000000;
}

.SearchBtn {
    color: var(--tmdbLightBlue);
}

.active {
    position: relative;
    transition: 300ms ease-in;
    color: var(--global-color);
    font-weight: 600;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--global-color);
    transition: 300ms ease-in-out;
}

.activeLink {
    position: relative;
    transition: 300ms ease-in-out;
}

.activeLink:hover {
    color: var(--global-color);
    transition: 300ms ease-in-out;
}

.activeLink:hover::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--global-color);
}