.navbarContainter {
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
}

.SearchBtn {
    color: var(--tmdbLightBlue);
}

.active {
    position: relative;
    transition: 300ms ease-in;
    color: var(--global-color);
    font-weight: 600;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--global-color);
    transition: 300ms ease-in-out;
}

.activeLink {
    position: relative;
    transition: 300ms ease-in-out;
}

.activeLink:hover {
    color: var(--global-color);
    transition: 300ms ease-in-out;
}

.activeLink:hover::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--global-color);
}