:root {
    --color-primary: hsl(310, 100%, 65%);
    --color-secondary: hsl(160, 100%, 65%);
    --background: hsl(230, 30%, 15%);
    --text: hsl(310, 100%, 95%);
}

.youtube-container {
    overflow: hidden;
    width: 500px;
    /* Keep it the right aspect-ratio */
    /* aspect-ratio: 5/2; */
    /* No clicking/hover effects */
    /* pointer-events: none; */

}

.youtube-container iframe {
    /* Extend it beyond the viewport... */
    width: 300%;
    height: 300px;
    /* ...and bring it back again */
    margin-left: -100%;
}

/* .date {
    font-family: "Racing Sans One", cursive;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    -webkit-mask: linear-gradient(#000000, 0 0), linear-gradient(#000000 0 0);
    -webkit-mask-clip: text, padding-box;
    -webkit-mask-composite: xor;
    opacity: 1;
} */

.active {
    position: relative;
    transition: 300ms ease-in;
    color: #02a5a5;
    font-weight: 600;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #02a5a5;
}

.active-link {
    position: relative;
    transition: 300ms ease-in;
}

.active-link:hover {
    color: #02a5a5;

}

.active-link:hover::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #02a5a5;
}

.itemContainter {
    transition: 100ms ease-in;
    transform-origin: left;
}

.itemContainter:hover .adult {
    opacity: 0;
}

.btnContainer {
    position: relative;
    transition: visibility 0s, opacity 500ms ease-in-out;
}

.btnContainer:hover {
    color: #02a5a5;
    font-weight: 600;
}

.absoluteContainer {
    width: 400px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 40px;
    transform: translateX(-35%);
    transition: visibility 700ms, opacity 700ms ease-in-out;
}

.btnContainer:hover .absoluteContainer {
    visibility: visible;
    opacity: 1;
}


/* styles.css */
/* Hide the default checkbox */
/* styles.css */
/* Hide the default checkbox */

input[type="radio"]{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: transparent;
}
input[type="radio"]:checked{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Style the custom checkbox */
.custom-checkbox label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 20px;
    /* Adjust padding as needed */
}

/* Checkbox indicator */
.custom-checkbox label::before {
    content: "";
    display: inline-block;
    width: 18px;
    /* Adjust size as needed */
    height: 18px;
    /* Adjust size as needed */
    border: 2px solid #ccc;
    /* Border color */
    background-color: transparent;
    /* Background color */
    position: absolute;
    left: -20px;
    top: 0;
}

/* Checked state */
.custom-checkbox input[type="checkbox"]:checked+label::before {
    background-color: #007bff;
    /* Checked background color */
    border-color: #007bff;
    /* Checked border color */
}

/* Checkmark icon */
.custom-checkbox label::after {
    content: "";
    position: absolute;
    left: -15px;
    /* Adjust position as needed */
    top: 2px;
    /* Adjust position as needed */
    width: 7px;
    /* Adjust size as needed */
    height: 13px;
    /* Adjust size as needed */
    border: solid #fff;
    /* Checkmark color */
    border-width: 0 3px 3px 0;
    /* Checkmark shape */
    transform: rotate(40deg);
    /* Rotate the checkmark */
    opacity: 0;
    /* Initially hidden */

}

/* Show checkmark when checked */
.custom-checkbox input[type="checkbox"]:checked+label::after {
    opacity: 1;
    /* Show checkmark */
}