:root {
    --color-primary: hsl(310, 100%, 65%);
    --color-secondary: hsl(160, 100%, 65%);
    --background: hsl(230, 30%, 15%);
    --text: hsl(310, 100%, 95%);
    --global-color: #02a5a5
}


.youtube-container {
    overflow: hidden;
    width: 500px;
    /* Keep it the right aspect-ratio */
    /* aspect-ratio: 5/2; */
    /* No clicking/hover effects */
    /* pointer-events: none; */

}

.youtube-container iframe {
    /* Extend it beyond the viewport... */
    width: 300%;
    height: 300px;
    /* ...and bring it back again */
    margin-left: -100%;
}

/* .date {
    font-family: "Racing Sans One", cursive;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    -webkit-mask: linear-gradient(#000000, 0 0), linear-gradient(#000000 0 0);
    -webkit-mask-clip: text, padding-box;
    -webkit-mask-composite: xor;
    opacity: 1;
} */

.active {
    position: relative;
    transition: 300ms ease-in;
    color: var(--global-color);
    font-weight: 600;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--global-color);
    transition: 300ms ease-in-out;
}

.active-link {
    position: relative;
    transition: 300ms ease-in-out;
}

.active-link:hover {
    color: var(--global-color);
    transition: 300ms ease-in-out;
}

.active-link:hover::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--global-color);
}

.itemContainter {
    transition: 100ms ease-in;
    transform-origin: left;
}

.itemContainter:hover .adult {
    opacity: 0;
}

.btnContainer {
    position: relative;
    transition: visibility 0s, opacity 500ms ease-in-out;
}

/* .btnContainer:hover {
    color: var(--global-color);
    font-weight: 600;
} */

.absoluteContainer {
    width: 400px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 40px;
    transform: translateX(-35%);
    transition: visibility 700ms, opacity 700ms ease-in-out;
}

.btnContainer:hover .absoluteContainer {
    visibility: visible;
    opacity: 1;
}

/* Input box design */
/* styles.css */
/* Hide the default checkbox */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    padding: 4px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: transparent;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

/* Checked state */
.custom-radio label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    /* padding-left: 20px; */
    /* alreday padding left added on checkbox */
}

/*adding small cicle on the checked radio*/
.custom-radio label::before {
    content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: -29.2px;
    transform: translate(-50%, -50%);
    background-color: var(--global-color);
    border-radius: 50%;
    transition: 200ms ease-in-out;
    opacity: 0;
}

.custom-radio input[type="radio"]:checked {
    border-color: var(--global-color);
}

.custom-radio input[type="radio"]:checked+label::before {
    opacity: 1;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Style the custom checkbox */
.custom-checkbox label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 20px;
    /* Adjust padding as needed */
}

/* Checkbox indicator */
.custom-checkbox label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    background-color: transparent;
    position: absolute;
    border-radius: 4px;
    left: -20px;
    transition: 100ms ease-in-out;
    top: 0;
}

/* Checked state */
.custom-checkbox input[type="checkbox"]:checked+label::before {
    background-color: var(--global-color);
    border-color: var(--global-color);
}

/* Checkmark icon */
.custom-checkbox label::after {
    content: "";
    position: absolute;
    left: -15px;
    top: 3px;
    width: 7px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    /* Checkmark shape */
    transform: rotate(40deg);
    /* Rotate the checkmark */
    transition: 300ms ease-in-out;
    opacity: 0;
    /* Initially hidden */
}

/* Show checkmark when checked */
.custom-checkbox input[type="checkbox"]:checked+label::after {
    opacity: 1;
}