:root {
    --color-primary: hsl(310, 100%, 65%);
    --color-secondary: hsl(160, 100%, 65%);
    --background: hsl(230, 30%, 15%);
    --text: hsl(310, 100%, 95%);
}

.youtube-container {
    overflow: hidden;
    width: 500px;
    /* Keep it the right aspect-ratio */
    /* aspect-ratio: 5/2; */
    /* No clicking/hover effects */
    /* pointer-events: none; */

}

.youtube-container iframe {
    /* Extend it beyond the viewport... */
    width: 300%;
    height: 300px;
    /* ...and bring it back again */
    margin-left: -100%;
}

/* .date {
    font-family: "Racing Sans One", cursive;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    -webkit-mask: linear-gradient(#000000, 0 0), linear-gradient(#000000 0 0);
    -webkit-mask-clip: text, padding-box;
    -webkit-mask-composite: xor;
    opacity: 1;
} */

.itemContainter {
    transition: 100ms ease-in;
    transform-origin: left;
}

.itemContainter:hover .adult {
    opacity: 0;
}

.btnContainer {
    position: relative;
    transition: visibility 0s, opacity 500ms ease-in-out;
}
.btnContainer:hover{
    color: rgb(2, 121, 8);
}

.absoluteContainer {
    width: 500px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 30px;
    transform: translateX(-10%);
    transition: visibility 700ms, opacity 700ms ease-in-out;
}

.btnContainer:hover .absoluteContainer {
    visibility: visible;
    opacity: 1;
}