@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --scrollerGrey: rgb(219, 219, 219);
    --lightGrey: rgb(227, 227, 227);
    --darkerGrey: rgb(200, 200, 200);
    --vibrantDarkBlue: #062541;
    --vibrantLightBlue: rgb(0, 118, 241);
    --tmdbDarkBlue: #032541;
    --tmdbLightBlue: rgb(1, 180, 228);
    --tmdbLighterGreen: rgb(192, 254, 207);
    --tmdbLightGreen: rgb(30, 213, 169);
    --tmdbLogoGreen: rgb(144, 206, 161);
    --tmdbLogoOrange: rgb(253, 193, 112);
    --tmdbLogoRed: rgb(217, 59, 99);
    --accountSilver: rgb(149, 149, 149);
    --accountPink: rgb(234, 20, 140);
    --accountPurple: rgb(128, 91, 231);
    --accountGreen: rgb(1, 210, 119);
    --accountTeal: rgb(1, 198, 172);
    --accountLightBlue: rgb(1, 180, 228);
    --accountBlue: rgb(1, 119, 210);
    --accountOrange: rgb(210, 119, 1);
    --accountYellow: rgb(210, 144, 1);
    --accountRed: rgb(212, 2, 66);
    --imageBorderRadius: 8px;
    --maxPrimaryPageWidth: 1400px;
    --darkViolet: #5D3AE9
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: #010101;
    color: white;
}

p,
span {
    font-weight: 400;
}

.londrina {
    font-family: 'Londrina Shadow';
}

.dart {
    font-family: 'Rubik Dirt', sans-serif;
}

.splash {
    font-family: 'Splash', sans-serif;
}

.bitter {
    font-family: "PT Serif", serif;
    font-weight: 500;
}